## **DATA SCIENCE MASTERS - ASSIGNMENT 1 (PYTHON BASICS)**

**Q1.** In the below elements which of them are values or an 
expression? eg:- values can be integer or string and expressions will be mathematical operators.

**Ans:**
1. \* **(expression)**
2. 'hello' **(value)**
3. -87.8 **(value)**
4. \- **(expression)**
5. / **(expression)**
6. \+	**(expression)**
7. 6 **(value)**

**Q2.** What is the difference between string and variable?

**Ans:** 

**Variable** is a reserved memory location to store values. These values can be of different datatypes like int, float, string, list, tuple, dictionary etc. Ex: a=5, b='hello'; here 'a' and 'b' are variables

**String** is a type of value that can be stored in variable. A string is made of characters in sequential order. These characters include letters, words, sentences etc. String is written either in single quotes or double quotes. Ex: s="Hello World!", here "Hello World!" is a string stored in variable 's'

**Q3.** Describe three different data types.

**Ans:** 
* **List:** List is an ordered collection of objects of heterogenous datatypes. List objects are mutable where items in list can be modified. Lists can be created by placing the sequence of objects inside the square brackets [ ]. Ex: l = [10, 30.5, 'hello']
* **Tuple:** Tuple is also an ordered collection of objects of heterogenous datatypes. But, tuple objects are immutable where objects in the tuple cannot be modified after creation. Ex: t = (10, 34, 'hello')
* **Dictionary:** Dictionary is an unordered collection of objects stored in key:value pair. Keys cannot be repeated and immutable whereas values can be of any data type with duplicates allowed. Ex: d = {'Name': 'ABC', 'Pay':10000}

**Q4.** What is an expression made up of? What do all expressions do?

**Ans:** Expression is a combination of operators and operands that yields a result value. Expression is evaluated as per precedence of its operators. Expressions helps in evaluation the arithmatic, logical, relational operations etc. Ex: 

```
x = 10+20.5
print(x)
>>> 30.5

a = 5
b = 7
sum = a+b (addition)
sub = a-b (subtraction)
multi = a*b (multiplication)
div = a/b (division)
rem = a%b (remainder)
```

**Q5.** This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:** **Expression** is a combination of operators and operands that yields a result value. Evaluation of expression always returns result value. **Statement** represents the action or command eg. print statement, assignment statements etc. Evaluation of statement may or may not return result value. It is just a standalone unit of execution.

**Q6.** After running the following code, what does the variable bacon contain?
```
bacon = 22
bacon + 1
```
**Ans:** bacon = 22

In [4]:
bacon = 22
bacon + 1
print(bacon)

22

**Q7.** What should the values of following two terms be?

```
'spam' + 'spamspam'
'spam' *3
```
**Ans:** 

```
'spam' + 'spamspam' = 'spamspamspam'
'spam' *3 = 'spamspamspam'
```

In [6]:
print('spam' + 'spamspam')
print('spam' *3)

spamspamspam
spamspamspam

**Q8.** Why is eggs a valid variable name while 100 is invalid?

**Ans:** **eggs** is a valid variable because it starts with a letter, does not contain special characters and not a reserved keyword. **100** is not a valid variable because it starts with a number. As per rules for creating variables in python, a variable cannot start with number.

**9.** What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** 
* **int()** function is used to get integer version of a value. Ex: int("10") = 10
* **float()** function is used to get float version of a value. Ex: float("10.9") = 10.9
* **str()** function is used to get string version of a value: Ex: str(10) = '10'

**10.** Why does this expression cause an error? How can you fix it?
```
'I have eaten ' + 99 + ' burritos.'
```
**Ans:** String can be concatenated only with string value. String cannot be concatenated with other data types like int, float etc. So, to fix above expression, we have to type cast **99** to string with **str**() function. 
```
'I have eaten ' + str(99) + ' burritos.'
```

In [10]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'